/* Enter your Styles below! */

body { 
    font-size: 48px;
    color: rgb(44, 27, 34);
    font-family: hwt-etta-east, sans-serif;
font-weight: 400;
font-style: normal;
    background-color: rgb(206, 53, 39);
     }

     .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
.homepage {
    margin-bottom: 100px;
}




h1, h2, h3, h4 {
    font-family: hwt-etta-east, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 48px;
    color: rgb(44, 27, 34);
    font-family: hwt-etta-east, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 50px;
    text-align: center;

}

h2 {
    font-size: 18px;
    color: rgb(44, 27, 34);
    font-family: paralucent, sans-serif;
font-weight: 400;
    font-style: normal;
}

h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}

blockquote {
    margin: 20px 60px;
    font-family: Helvetica, sans-serif;
}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
.hover {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width:80%;
	margin: auto;
}

.hover img {width: 100%;}



 .heart1, .heart2, .heart3, .heart4 {
        position: relative;
        display: inline-block;
}


.heart1 .img-top, .heart2 .img-top, .heart3 .img-top, .heart4 .img-top{
        display: none;

    }
    .heart1:hover .img-top, .heart2:hover .img-top, .heart3:hover .img-top, .heart4:hover .img-top{
        display: inline;
        position: absolute;
        top: 0;
        left: 0;
    }
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    width: 80%;
    margin: auto;
}

.grid div {
    
    padding: 20px;
}

@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}